<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>mascararivers</title>
	</head>
	<body class="bg-black flex items-center flex-col">
		<script src="../scripts/gsap.ts"></script>

		<div id="title" class="flex flex-col gap-1 items-center justify-center w-screen border-b-2 border-neutral-800 pb-5 pt-2">
			<h3 class="text-white text-2xl font-departure" id="mini-title">hi i'm</h3>
			<h1 class="text-4xl lg:text-7xl text-white font-extralight font-departure">mascararivers</h1>
		</div>

		<div class="w-screen p-10 flex flex-col gap-5 lg:gap-0 lg:flex-row justify-around items-center">

			<div class="flex flex-col items-center justify-center">
				<img src="/images/pfp.png" class="w-32 h-32 lg:w-72 lg:h-72 rounded-full" alt="">
				<p class="text-white font-departure text-center p-2">"life's greatest combination is jaeger <br> bombs and car keys"</p>
			</div>

			<div class="flex flex-col items-right text-center lg:text-right">
				<h1 class="text-white text-6xl font-departure pb-5">about me</h1>
				<p class="text-white lg:text-xl font-departure">16 year old developer from Russia.
					<br> I started programming about 4 years ago
					<br> with C# and making Unity games, then I branched
					<br> off into Minecraft mods/plugins and ended up with
					<br> web development, which I do to this day.
					<br> My favourite band is Deftones and I play the guitar.
				</p>
			</div>
		</div>

	</body>

	<style>
		@font-face {
			font-family: 'departure';
			src: url('/public/fonts/DepartureMono-Regular.otf');
			
		}
	</style>
</html>
